/* 
   Unchanged from Hovercraft's default theme 
   for easy updating
*/

.impress-supported .fallback-message,
.step .notes {
    display: none;
}

.step {
    width: 800px;
}


/* Help popup */

#hovercraft-help {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    font-size: 100%;
    left: 2em;
    bottom: 2em;
    width: 26em;
    border-radius: 1em;
    padding: 1em;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 100;
    display: block;
    font-family: Verdana, Arial, Sans;
}

.impress-enabled #hovercraft-help.hide {
    display: none;
}

#hovercraft-help.disabled {
    display: none;
}
