@font-face {
    font-family: "Vollkorn";
    src: url("fonts/Vollkorn-Regular.ttf"),
    url("fonts/Vollkorn-BoldItalic.ttf"),
    url("fonts/Vollkorn-Bold.ttf"),
    url("fonts/Vollkorn-Italic.ttf"),
    url("fonts/Vollkorn-MediumItalic.ttf"),
    url("fonts/Vollkorn-Medium.ttf"),
    url("fonts/Vollkorn-Regular.ttf"),
    url("fonts/Vollkorn-SemiboldItalic.ttf"),
    url("fonts/Vollkorn-Semibold.ttf");
}

@font-face {
    font-family: 'Sketch';
    src: url('fonts/sketch_block-webfont.eot');
    src: url('fonts/sketch_block-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sketch_block-webfont.woff2') format('woff2'),
         url('fonts/sketch_block-webfont.woff') format('woff'),
         url('fonts/sketch_block-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #fdf6e3;
    font-family: Vollkorn, Verdana, Helvetica, Arial, sans-serif;
}

h1 {
    font-family: Sketch, Verdana, Helvetica, Arial, sans-serif;
    font-size: 300%;
    font-style: normal;
}
